@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*:after,
*:before,
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}

main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}
